<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tbmyazilim.www" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Motorlu Kurye-tbmsoft</name>
    <description>
        Kurye Otomasyon Sistemleri
    </description>
    <author email="taneryzb@hotmail.com" href="https://tbmsoft.xyz">
        Kurye Otomasyon Sistemleri
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <feature name="Insomnia">
        <param name="android-package" value="nl.xservices.plugins.Insomnia" />
    </feature>
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="14" />
        <icon density="mdpi" src="www/res/icon/android/mipmap-mdpi/Courier-24848.png" />
        <icon density="hdpi" src="www/res/icon/android/mipmap-hdpi/Courier-27272.png" />
        <icon density="xhdpi" src="www/res/icon/android/mipmap-xhdpi/Courier-29696.png" />
        <icon density="xxhdpi" src="www/res/icon/android/mipmap-xxhdpi/Courier-2144144.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/mipmap-xxxhdpi/Courier-2192192.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-x-toast" spec="^2.6.0" />
    <plugin name="cordova-plugin-vibration" spec="^2.1.5" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.3" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <plugin name="cordova-plugin-insomnia" />
    <plugin name="phonegap-plugin-push" spec="^2.1.0">
        <variable name="FCM_VERSION" value="11.0.1" />
    </plugin>
    <plugin name="cordova-plugin-mauron85-background-geolocation" spec="^2.3.1">
        <variable name="ICON" value="@mipmap/icon" />
        <variable name="SMALL_ICON" value="@mipmap/icon" />
        <variable name="ACCOUNT_NAME" value="@string/app_name" />
        <variable name="ACCOUNT_LABEL" value="@string/app_name" />
        <variable name="ACCOUNT_TYPE" value="$PACKAGE_NAME.account" />
        <variable name="CONTENT_AUTHORITY" value="$PACKAGE_NAME" />
    </plugin>
    <plugin name="cordova-plugin-locationservices" spec="^2.1.0" />
</widget>
